
.header__down {
    z-index: 10;
    width: 100%;
}

.header-categories {
    position: relative;
}

.categories__btn {
    display: none;
}

#menu-categories {
    padding-top: 10px;
}

.container-flex__categories {

    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categories {
    position: relative;
    z-index: 3;
    background: #fff;
    // box-shadow: 7px 7px 18px rgb(33. 37. 41 / 12%);
    .container {
        max-width: 1545px;
        width: 100%;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        
    }
}



.categories__item {
    text-align: center;
    color: #343434;
    font-size: 1.142rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    width: auto;


}

.categories__item:first-child {
    margin-left: 0;
}

.categories__item a {
    display: block;
}

.categories__item a {
    color: #373737;
}

.categories-item span {
    font-size: 14px;
}

.categories-item__image {
    margin-bottom: 7px;
}

@media screen and (max-width: 767px) {

    .categories {
        background: none;
        display: none;
        .container {
            height: auto;
        }

        


    }

    .show-menu--2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        .categories__item  {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            border-bottom: 1px solid #e2e2e2;
            span {
                margin-left: 20px;
                font-size: 1.1rem;
                text-align: left;
            }
        }

    }

  




    .categories__btn {
        display: block;
        padding: 10px 10px;
        color: #000000;
        font-size: 2rem;
        text-align: left;
        position: relative;
        width: 100%;
        border-top: 2px solid #e2e2e2 ;
    }

    .categories__btn::before {
        content: '>';
        position: absolute;
        right: 10px;
        top: 10px;
    }



    .container-flex__categories {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .categories-item__image {
        margin-bottom: 7px;
        display: none;
    }


}